#restringir el acceso a los directorios
Options All -Indexes

Options +FollowSymLinks

#habilitar el motor de reescritura
RewriteEngine On
RewriteRule ^CRUD_OOP/([0-9]+)$ CRUD_OOP/index.php

ErrorDocument 404 /CRUD_OOP/errors/404.html
ErrorDocument 403 /CRUD_OOP/errors/403.html


